<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>

    <body>
        <div class="d-flex justify-content-center">
            <header><h1>PROGRAMACION VISUAL</h1></header>
	</div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Pagina Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listar_est">Estudiantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listar_lib">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listar_pre">Prestamos</a>
                    </li>
                </ul>
            </div>
        </nav><br>
        <div> <!--class="d-flex justify-content-center"-->
            <div class="col-sm-6">
                <form th:action="@{/guardar_pre}" th:object="${prestamo}" method="POST">
                    <div class="card">
                        <div class="card-header">
                            <h3>Prestamo de Libros</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">                                   
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>ID_PRESTAMO:</label>
                                    </div>  
                                    <div class="col-md-8">
                                        <input th:field="*{Id_prestamo}" type="number" placeholder="Ingrese el ID_prestamo" th:required="true" class="form-control"> 
                                    </div>
                                </div>
                            </div>    
                            <div class="form-group">                                   
                                <div class="row">
                                    <div class="col-md-4">
                                        <label th:text="Estudiante"></label>
                                    </div>  
                                    <div class="col-md-4">
                                        <select th:field="*{Nro_ID.Nro_ID}" type="text" required>
                                            <option th:each="p:${estudiantes}" th:value="${p.Nro_ID}" th:text="${p.nombres}">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">                                   
                                <div class="row">
                                    <div class="col-md-4">
                                        <label th:text="Libro"></label>
                                    </div>  
                                    <div class="col-md-4">
                                        <select th:field="*{isbn.isbn}" type="text" required>
                                            <option th:each="p:${libros}" th:value="${p.isbn}" th:text="${p.titulo}">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">                                   
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Fecha_Prestamo:</label>
                                    </div>  
                                    <div class="col-md-6">
                                        <input th:field="*{fecha_prestamo}" type="text" placeholder="Ingrese la fecha del prestamo" th:required="true" class="form-control"/>    
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>    
                    <div class="card-footer">
                        <input type="submit" value="Guardar" class="btn btn-success">
                        <a th:href="@{/listar_pre}" class="btn btn-danger">Cancelar </a>    
                    </div>
                </form>    
            </div>
        </div><br>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/funciones.js"></script>
        <div class="d-flex justify-content-center">
		<footer><strong>AUTOR: Miguel Alfredo Torrez DNI:41653908<br>
			Derechos Reservados © Programacion Visual 2020<br>
			Creado por APU UNJu</strong>
		</footer>	
	</div>
    </body>

</html>
