<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>

    <body>
        <div class="d-flex justify-content-center">
            <header><h1>PROGRAMACION VISUAL</h1></header>
	</div>        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Pagina Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listar_est">Estudiantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listar_lib">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listar_pre">Prestamos</a>
                    </li>
                </ul>
            </div>
        </nav><br>
        <div class="container mt-6">
            <a th:href="@{/nuevo_pre}" class="btn btn-primary">Nuevo</a>
            <table class="table" >
                <thead style="background-color: #5BA5EA">
                    <tr>
                        <th>ID_PRESTAMO</th>
                        <th>Nro_ID</th>
                        <th>ISBN</th>					
                        <th>FECHA_PRESTAMO</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p:${prestamos}">
                        <td th:text="${p.Id_prestamo}"></td>
                        <td th:text="${p.Nro_ID.nombres}"></td>
                        <td th:text="${p.isbn.titulo}"></td>
                        <td th:text="${p.fecha_prestamo}"></td>
                        <td>
                            <a class="btn btn-danger" 
                               th:href="@{/listar_pre/}+${p.Id_prestamo}"
                               >editar</a>
                            <a  
                               class="btn btn-warning"
                               th:href="@{/eliminar_pre/}+${p.Id_prestamo}"
                               >eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><br>
            <div class="d-flex justify-content-center">
                <footer><strong>AUTOR: Miguel Alfredo Torrez DNI:41653908<br>
                    Derechos Reservados © Programacion Visual 2020<br>
                    Creado por APU UNJu</strong>
                </footer>	
            </div>    
    </body>
</html>
